
/*NIH web site Footer*/

#NIAMSFooter{
	clear: both;
	width: 1259px;
	font: 0.9em/1em Trebuchet MS, Arial, Helvetica, sans-serif;
	/*color: #6e6e6e;*/
	text-align: center;
	/*padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 auto;
	background-color: #e8e7e3;*/
}
#NIAMSFooter h2 {
 	position: absolute;
 	left: -9000px;
 	width: 1px;
 	height: 1px;
 	overflow: hidden;
}
#NIAMSFooter p.address {
	padding-top: 8px;
}
#NIAMSFooter ul {
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	padding-bottom: 1.3em;
	margin: 0;
}
#NIAMSFooter li {
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
}
#NIAMSFooter li a {
	padding-left: 0.4em;
	padding-right: 0.8em;
	margin: 1px;
	border-right: 1px solid #c1c1c1;
}
#NIAMSFooter li.last a {
	border-right: none;
}


/*Menu.NIAMS.css*/

/* <RadMenu / NIAMS> */

.RadMenu_NIAMS .rmLink
{
 line-height: 26px;
 text-decoration: none;
 position: relative;
 display: inline-block !important;
 
}   



.RadMenu_NIAMS a.rmLink,
.RadMenu_NIAMS .rmGroup .rmText,
.RadMenu_NIAMS .rmVertical .rmText,
.RadMenu_NIAMS .rmLeftArrow,
.RadMenu_NIAMS .rmRightArrow,
.RadMenu_NIAMS .rmTopArrow,
.RadMenu_NIAMS .rmBottomArrow
{
	background-image: url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmSprite.png');
	background-color: transparent;

}


/*NIAMS CHANGES*/

.TopItemArrow
{
	text-align:center;
	display:block;
}

.RadMenu_NIAMS .rmHorizontal .rmRootExpandImage
{

				/*background-image: url('/_layouts/NIAMS.GlobalNavigationBar/Menu/RootExpandImage.png');
				background-position: right center;
				background-repeat: no-repeat;
				width: 10px;*/
				
}



.RadMenu_NIAMS .rmRootGroup
{
				height:30px;
				background:#fff  url('/_layouts/NIAMS.GlobalNavigationBar/Menu/MenuBackGround.jpg');
				background-repeat: repeat;
				
}

.RadMenu_NIAMS {   

  z-index: 1 !important;   
}  

/*END NIAMS CHANGES*/

/* <Root items> */
 

.RadMenu_NIAMS,
.RadMenu_NIAMS a.rmLink
{
	font-family:verdana;
	font-size:8pt;
	font-weight:bold;
	color:#323030;
	text-decoration:none;

}

.RadMenu_NIAMS a.rmLink,
.RadMenu_NIAMS a.rmDisabled,
.RadMenu_NIAMS a.rmDisabled:hover
{
	background-position: 0 -72px;
}



.RadMenu_NIAMS .rmFirst a.rmLink,
.RadMenu_NIAMS .rmFirst a.rmLink:hover,
.RadMenu_NIAMS .rmLast .rmText,
.RadMenu_NIAMS .rmLast a.rmLink:hover .rmText,
.RadMenu_NIAMS .rmVertical a.rmLink,
.RadMenu_NIAMS .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
}

.RadMenu_NIAMS .rmVertical .rmFirst,
.RadMenu_NIAMS .rmVertical .rmLast
{
	background: none;
	
}


.RadMenu_NIAMS .rmGroup .rmLink:hover,
.RadMenu_NIAMS .rmGroup .rmFocused,
.RadMenu_NIAMS .rmGroup .rmExpanded
{
				color: #fff;
				height:15px;
				/*background:#fff  url('/_layouts/NIAMS.GlobalNavigationBar/Menu/MenuBackGround.jpg');*/
				background-repeat: repeat;

} 

/*Color of the Top menut items*/
.RadMenu_NIAMS .rmHorizontal .rmRootLink span.rmText
{
	display: inline;
	padding-left: 12px;
	color:white;
}

.RadMenu_NIAMS_rtl .rmRootLink span.rmText
{
    padding-right: 12px;
}

.RadMenu_NIAMS .rmHorizontal a.rmRootLink
{
	padding-left: 0;
}

.RadMenu_NIAMS_rtl a.rmRootLink
{
    margin-left: 0;
    padding: 0;
}

.RadMenu_NIAMS .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
	width: 100%;
}

.RadMenu_NIAMS ul.rmHorizontal .rmLeftImage
{
	margin: 4px -4px 0 6px;
}

.RadMenu_NIAMS_rtl ul.rmHorizontal .rmLeftImage
{
	margin: 4px 6px 0 -4px;
}

.RadMenu_NIAMS .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_NIAMS .rmVertical a.rmLink:hover,
.RadMenu_NIAMS .rmVertical a.rmFocused,
.RadMenu_NIAMS .rmVertical a.rmSelected,
.RadMenu_NIAMS .rmVertical a.rmExpanded,
.RadMenu_NIAMS .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #828282;
	border-width: 1px 0;
	color:#FFFFFF;
}

.RadMenu_NIAMS .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_NIAMS .rmVertical .rmFirst a.rmFocused,
.RadMenu_NIAMS .rmVertical .rmFirst a.rmSelected,
.RadMenu_NIAMS .rmVertical .rmFirst a.rmExpanded,
.RadMenu_NIAMS .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
	

}

.RadMenu_NIAMS .rmVertical .rmLast a.rmLink:hover,
.RadMenu_NIAMS .rmVertical .rmLast a.rmFocused,
.RadMenu_NIAMS .rmVertical .rmLast a.rmSelected,
.RadMenu_NIAMS .rmVertical .rmLast a.rmExpanded,
.RadMenu_NIAMS .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_NIAMS .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
	
}

/*When the mouse in the top of the top first menu items*/
.RadMenu_NIAMS a.rmExpanded,
.RadMenu_NIAMS a.rmExpanded:hover
{
	color:#ffe6a0;




}

.RadMenu_NIAMS a.rmDisabled,
.RadMenu_NIAMS a.rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
	
}

/* </Root items> */


/* <Submenu items> */
/*Backgroud of the Multigroup table*/
.RadMenu_NIAMS .rmGroup,
.RadMenu_NIAMS .rmMultiColumn,
.RadMenu_NIAMS .rmGroup .rmVertical
{
				border: 1px solid #003399;
				background-color: #E5E2E2;
				color: #FFFF00;
}

.RadMenu_NIAMS .rmTopFix,
.RadMenu_NIAMS .rmBottomFix,
.RadMenu_NIAMS .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_NIAMS .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_NIAMS .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_NIAMS .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_NIAMS_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
}

* html .rmRoundedCorners_NIAMS .rmGroup .rmItem,
* html .rmRoundedCorners_NIAMS ul.rmHorizontal .rmFirst
{
	background-image: url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
}

.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_NIAMS .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_NIAMS .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_NIAMS .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_NIAMS .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_NIAMS .rmScrollWrap .rmItem,
* html .rmRoundedCorners_NIAMS .rmHorizontal .rmItem,
* html .rmRoundedCorners_NIAMS .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_NIAMS .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_NIAMS .rmBottomLeft,
.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_NIAMS_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_NIAMS .rmRoundedCorners ul.rmGroup,
.RadMenu_NIAMS .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_NIAMS .rmScrollWrapContainer,
* html .rmRoundedCorners_NIAMS .rmGroup ul.rmGroup,
* html .rmRoundedCorners_NIAMS ul.rmGroup
{
	background-image:  url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_NIAMS .rmTopRight,
.RadMenu_NIAMS .rmBottomRight
{
	background-image:  url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_NIAMS .rmTopFix,
.RadMenu_NIAMS .rmBottomFix,
.RadMenu_NIAMS .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_NIAMS .rmGroup .rmFirst
{
	border-color: #979797;
}

.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_NIAMS .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_NIAMS .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_NIAMS .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_NIAMS .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_NIAMS .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_NIAMS .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_NIAMS_rtl .rmBottomLeft,
.RadMenu_NIAMS_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_NIAMS_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_NIAMS .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_NIAMS_Context_rtl ul.rmGroup,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_NIAMS_rtl .rmTopRight,
.RadMenu_NIAMS_rtl .rmBottomRight
{
	background-image: url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmRoundedRight_rtl.png');
}

.RadMenu_NIAMS_rtl li.rmTopFix,
.RadMenu_NIAMS_rtl li.rmBottomFix,
.RadMenu_NIAMS_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_NIAMS_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_NIAMS .rmSlide .rmScrollWrap
{
	background-image: none;
}


.RadMenu_NIAMS_rtl .rmGroup,
.RadMenu_NIAMS_rtl .rmMultiColumn,
.RadMenu_NIAMS_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;

}

.RadMenu_NIAMS .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;	

}

.RadMenu_NIAMS .rmRootGroup .rmHorizontal
{
	background-image: none;

}

.RadMenu_NIAMS .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_NIAMS .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_NIAMS_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_NIAMS .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_NIAMS .rmGroup .rmItem a.rmLink,
.RadMenu_NIAMS .rmGroup .rmItem a.rmLink:hover,
.RadMenu_NIAMS .rmGroup .rmItem a.rmFocused,
.RadMenu_NIAMS .rmGroup .rmItem a.rmSelected,
.RadMenu_NIAMS .rmGroup .rmItem a.rmExpanded
{

	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.RadMenu_NIAMS .rmGroup .rmLast a.rmLink,
.RadMenu_NIAMS .rmGroup .rmLast a.rmLink:hover,
.RadMenu_NIAMS .rmGroup .rmLast a.rmFocused,
.RadMenu_NIAMS .rmGroup .rmLast a.rmSelected,
.RadMenu_NIAMS .rmGroup .rmLast a.rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_NIAMS .rmGroup a.rmLink,
.RadMenu_NIAMS .rmGroup .rmText,
.RadMenu_NIAMS .rmGroup .rmItem a.rmDisabled,
.RadMenu_NIAMS .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_NIAMS .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_NIAMS .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
	
}

/*Border of the subitems in the multiline panel*/
.RadMenu_NIAMS .rmGroup a.rmLink:hover,
.RadMenu_NIAMS .rmGroup a.rmFocused,
.RadMenu_NIAMS .rmGroup a.rmSelected,
.RadMenu_NIAMS .rmGroup a.rmExpanded
{
	background-position: 0 -138px;
	background-color:#FFFFFF;

}

.RadMenu_NIAMS .rmGroup a.rmLink:hover .rmText,
.RadMenu_NIAMS .rmGroup a.rmFocused .rmText,
.RadMenu_NIAMS .rmGroup a.rmSelected .rmText,
.RadMenu_NIAMS .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;


}

/* <expand arrows> */

.RadMenu_NIAMS .rmRootGroup .rmExpandRight,
.RadMenu_NIAMS .rmGroup .rmExpandDown,
.RadMenu_NIAMS .rmRootGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_NIAMS .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_NIAMS .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_NIAMS .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{

	background-position: 100% -216px;
}

.RadMenu_NIAMS a.rmLink:hover .rmExpandRight,
.RadMenu_NIAMS .rmLast a.rmLink:hover .rmExpandRight,
.RadMenu_NIAMS a.rmFocused .rmExpandRight,
.RadMenu_NIAMS a.rmSelected .rmExpandRight,
.RadMenu_NIAMS a.rmExpanded .rmExpandRight
{
	background-position: 100% -312px;
	
}

.RadMenu_NIAMS .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_NIAMS .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_NIAMS .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_NIAMS .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_NIAMS .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_NIAMS .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_NIAMS .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_NIAMS .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
	
}

.RadMenu_NIAMS .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_NIAMS .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_NIAMS_rtl a.rmLink,
.RadMenu_NIAMS_rtl .rmRootGroup a.rmDisabled
{

	background-position: 100% -96px;
}

.RadMenu_NIAMS_rtl .rmGroup a.rmDisabled
{
	background: none;
}

.RadMenu_NIAMS_rtl .rmText
{
	background-position: 0 -96px;
}

.RadMenu_NIAMS_rtl .rmVertical a.rmExpanded .rmText,
.RadMenu_NIAMS_rtl .rmVertical a.rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_NIAMS_rtl .rmGroup a.rmLink:hover,
.RadMenu_NIAMS_rtl .rmGroup a.rmFocused,
.RadMenu_NIAMS_rtl .rmGroup a.rmSelected,
.RadMenu_NIAMS_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_NIAMS_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_NIAMS_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_NIAMS_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_NIAMS_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_NIAMS_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_NIAMS_rtl .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_NIAMS_rtl .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_NIAMS_rtl .rmVertical a.rmSelected .rmExpandLeft,
.RadMenu_NIAMS_rtl .rmVertical a.rmExpanded .rmExpandLeft
{
	background-position: 0 -216px;
}

.RadMenu_NIAMS_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_NIAMS_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_NIAMS_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_NIAMS_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

.RadMenu_NIAMS_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_NIAMS .rmSlide
{

	margin: 0 0 0 -1px;
}

.RadMenu_NIAMS .rmVertical .rmSlide,
.RadMenu_NIAMS .rmSlide .rmSlide,
.RadMenu_NIAMS_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_NIAMS_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_NIAMS_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_NIAMS_rtl .rmVertical .rmSlide,
.RadMenu_NIAMS_rtl .rmSlide .rmSlide,
.RadMenu_NIAMS_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_NIAMS .rmLeftArrow,
.RadMenu_NIAMS .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_NIAMS .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_NIAMS .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_NIAMS .rmTopArrow,
.RadMenu_NIAMS .rmBottomArrow,
.RadMenu_NIAMS .rmGroup .rmLeftArrow,
.RadMenu_NIAMS .rmGroup .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_NIAMS .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #828282; }
.RadMenu_NIAMS .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_NIAMS .rmHorizontal .rmSeparator .rmText,
.RadMenu_NIAMS .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #A8A8A8;
}

.RadMenu_NIAMS_Context .rmSeparator .rmText,
.RadMenu_NIAMS .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_NIAMS .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Default> */


/*superfish.css*/

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu *
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu
{
    float: left;
    margin-bottom: 1em;
	
    line-height: 1.0;
}
.sf-menu ul
{
    position: absolute;
    top: -999em;
    width: 10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li
{
    width: 100%;
}
.sf-menu li:hover
{
    visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li
{
	
    background-image: url('/_layouts/NIAMS.GlobalNavigationBar/Menu/rmSprite.png');
    background-color: transparent;
    
    float: left;
    position: relative;
}
.sf-menu a
{
    color: #fff !important;
    border-left: 1px solid #fff;
    border-top: 1px solid #CFDEFF;
    padding: .75em 1em;
    text-decoration: none;
    display: block;
    position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul
{
    left: 0;
    top: 2.5em; /* match top ul list item height */
    z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul
{
    top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul
{
    left: 10em; /* match ul width */
    top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul
{
    top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul
{
    left: 10em; /* match ul width */
    top: 0;
}

/*** DEMO SKIN ***/


.sf-menu a, .sf-menu a:visited
{ /* visited pseudo selector so IE6 applies text colour*/
    color: #13a;
}

.sf-menu li li
{

    background: #fff  url('/_layouts/NIAMS.GlobalNavigationBar/Menu/menuhover.gif');/*#AABDE6;*/
}
.sf-menu li li li
{

    background:#fff  url('/_layouts/NIAMS.GlobalNavigationBar/Menu/Menuhover.gif');/*#9AAEDB;*/
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active
{
    color: yellow !important;
    outline: 0;
}

/*** arrows **/
.sf-menu a.sf-with-ul
{
    padding-right: 2.25em;
    min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator
{
    position: absolute;
    display: block;
    right: .75em;
    top: 1.05em; /* IE6 only */
    width: 10px;
    height: 10px;
    text-indent: -999em;
    overflow: hidden;
    background: url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator
{ /* give all except IE6 the correct values */
    top: .8em;
    background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator
{
    background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position: -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position: 0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator
{
    background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul
{
    background: url('../images/shadow.png') no-repeat bottom right;
    padding: 0 8px 9px 0;
    -moz-border-radius-bottomleft: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off
{
    background: transparent;
}
